body {
  font-size: 45px;
}
button {
  font-size: 45px;
  margin-bottom: 20px;
}
h1 {
  font-size: 45px;
}
.box {
  padding: 0 20px 0 20px;
}
.barrier {
  margin: 12px;
}
#wrapper {
  text-align: center;
}
#buttons {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 45px;
}