body {
  font-size: 45px;
  font-family: 'Lakki Reddy', cursive;
}
button {
  font-size: 45px;
  margin-bottom: 20px;
  height: 60px;
  font-family: 'Lakki Reddy', cursive;
}
h1 {
  font-size: 45px;
}
p {
  margin: 10px;
}
.box {
  height:100px;
  width:100px;
  display: inline-block;
  border: 1px solid black;
  font-size: 80px;
  text-align: center;
  overflow: hidden;
}
div[id='top'] {
  display: flex;
  flex-direction: row;
}
div[id='middle'] {
  display: flex;
  flex-direction: row;
}
div[id='bottom']{
  display: flex;
  flex-direction: row;
}
div[id='top'] span{
  border-top: none;
}
div[id='bottom'] span{
  border-bottom: none;
}
div span:first-child{
  border-left: none;
}
div span:last-child{
  border-right: none;
}
#wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#buttons {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 45px;
}