body {
  width: 1000px;
  margin: 10px auto;
  text-align: center;
  padding: 10px;
  user-select: none;
  /* font-family: 'Lakki Reddy', cursive;
  font-family: 'Butcherman', cursive;
  font-family: 'Nosifer', cursive; */
  font-family: 'Eater', cursive;
  /* font-family: 'Creepster', cursive; */
  background-color: lightgray;
  background-image: url('./images/darkHalloween.jpg');
  background-size: cover;
  background-position: center;
  color: rgb(249, 80, 1);
  text-shadow: 1px 1px 0px black,
  1px 1px 10px rgba(0, 0, 0, 0.15),
  1px 1px 2px rgba(0, 0, 0, 0.1),
  1px 1px 20px rgba(0, 0, 0, 0.1);
}

button {
  font-family: 'Eater', cursive;
  font-size: 20px;
  margin-bottom: 5px;
  background-color: black;
  color: rgb(249, 80, 1);
  border: 1px solid rgb(249, 80, 1);
  box-shadow: 1px 1px 0px black,
  1px 1px 10px rgba(0, 0, 0, 0.15),
  1px 1px 2px rgba(0, 0, 0, 0.1),
  1px 1px 20px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: rgb(249, 80, 1);
  color: black;
  border: 1px solid rgb(249, 80, 1);
}

h1 {
  margin-bottom: 0px;
}

div[id^="row-"] div {
  width: 200px;
  height: 200px;
  border: 1px solid rgb(249, 80, 1);
  float: left;

}

div[id^="row-"] div:last-child {
  border-right: none;
}

div[id^="row-"] div:first-child {
  border-left: none;
  box-shadow: 15px 0px 10px -10px rgba(0,0,0,0.51);
}

div[id^="row-"] div:nth-child(2) {
  box-shadow: 15px 0px 10px -10px rgba(0,0,0,0.51);
}

div[id="row-1"] div{
  border-top: none;
}

div[id="row-3"] div{
    border-bottom: none;
}

div[id^="row-"] {
  clear: float;
  width: 608px;
  box-sizing: border-box;
  overflow: hidden;
}

div.board {
  width: 608px;
  overflow: hidden;
  margin: 0 auto;
}
#wrapper {
  position: absolute;
  top: 440px;
  left: 50px;
  text-align: center;
}
#buttons {
  position: absolute;
  left: 50px;
  top: -10px;
  text-align: start;
  display: flex;
  flex-direction: column;
}
.board {
  font-size: 130px;
}
#output {
  font-size: 20px;
}
#choose {
  display: flex;
  flex-flow: row wrap;
  width: 175px;
}
.box {
  text-align: center;
  line-height: 200px;
}
.symbolButton {
  margin-right: 2px;
}
.startButton {
  height: 40px;
  width: 172px;
}
#end-game:active {
  background-color: black;
  color: rgb(249, 80, 1);
  border: 1px solid rgb(249, 80, 1);
}
#symbolInput {
  width: 60px;
  height: 35px;
  margin-right: 5px;
  font-size: 20px;
  font-family: 'Eater', cursive;
  background-color: black;
  color: rgb(249, 80, 1);
  border: 1px solid rgb(249, 80, 1);
  text-shadow: 1px 1px 0px black,
  1px 1px 10px rgba(0, 0, 0, 0.15),
  1px 1px 2px rgba(0, 0, 0, 0.1),
  1px 1px 20px rgba(0, 0, 0, 0.1);
}